<div id="follow_form_<%= user.id %>">
  <% if current_user.following?(user) %>
    <% if user.following?(current_user) %>
      <%= form_for(current_user.relationships.find_by(followed_id: user.id), html: { method: :delete }, remote: true) do |f| %>
        <%= f.submit "友達解除", class: "btn btn-block" %>
      <% end %>
    <% else %>
      <div class="btn btn-info btn-block disabled">
        友達承認待
      </div>
    <% end %>
  <% else %>
    <% if user.following?(current_user) %>
      <%= form_for(current_user.relationships.build(followed_id: user.id), remote: true) do |f| %>
        <%= f.hidden_field :followed_id %>
        <%= f.submit "友達承認", class: "btn btn-success btn-block" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.relationships.build(followed_id: user.id), remote: true) do |f| %>
        <%= f.hidden_field :followed_id %>
        <%= f.submit "友達申請", class: "btn btn-primary btn-block" %>
      <% end %>
    <% end %>
  <% end %>
</div>
