<!DOCTYPE html>
<html>
<head>
  <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Facelook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if user_signed_in? %>
    <script>
      var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
        cluster: 'ap1',
        encrypted: true
      });

      var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
      channel.bind('comment_created', function(data){
        alert(data.message);
      });
      channel.bind('notification_created', function(data) {
        $('#unread_count').html(data.unread_counts);
      });
    </script>
  <% end %>
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="header-logo col-md-5 col-md-offset-1 col-xs-6">
          <%= link_to "facelook", root_path %>
        </div>
        <% if user_signed_in? %>
          <div class="text-right col-md-1 col-md-offset-3 col-xs-4">
            <%= link_to notifications_index_path, class: "header-icon" do %>
              <i class="fa fa-bell fw"><span id="unread_count" class="badge"><%= @notifications_count %></span></i>
            <% end %>
          </div>
          <div class="text-right col-md-1 col-xs-2">
            <div class="dropdown">
              <i class="header-icon fa fa-cog dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to 'アカウント情報変更', edit_user_registration_path %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </header>

  <%= yield %>

  <% unless user_signed_in? %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <table class="table">
              <tr>
                <td><%= link_to 'アカウント登録', new_user_registration_path %></td>
                <td><%= link_to 'ログイン', new_user_session_path %></td>
                <td><%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path %></td>
                <td><%= link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path %></td>
                <td><a href="http://momentsapp.com/">Moments</a></td>
                <td><a href="https://instagram.com/">Instagram</a></td>
              </tr>
              <tr>
                <td>Facelook © 2017</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </footer>
  <% end %>
</body>
</html>
